.social_media {
  width: 510px;
  height: 126px;
  margin: 0px auto 0px;
}

.social_media__title {
  width: 456px;
  height: 40px;
  color: #f2f2f2;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  margin: 0 auto 20px;
}

.social_media__logo {
  width: 178px;
  height: 52px;
  margin: 0px auto 0px;
  display: flex;
  justify-content: space-between;
}

.social_media__logo a {
  text-decoration: none;
  display: flex;
}

.logo-instagram {
  width: 50px;
  height: 50px;
}

.logo-linkedin {
  width: 50px;
  height: 50px;
}
