.social_media {
  width: 510px;
  height: 126px;
  margin: 0px auto 0px;
}

.social_media__title {
  width: 456px;
  height: 40px;
  color: #f2f2f2;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  margin: 0 auto 20px;
}

.social_media__logo {
  width: 178px;
  height: 52px;
  margin: 0px auto 0px;
  display: flex;
  justify-content: space-between;
}

.logo-instagram {
  width: 50px;
  height: 50px;
}

.logo-linkedin {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .social_media {
    width: 310px;
    height: 126px;
  }

  .social_media__title {
    width: 290px;
    height: 40px;
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .social_media {
    width: 200px;
    height: 126px;
  }

  .social_media__title {
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .social_media__logo {
    width: 100px;
  }

  .logo-instagram {
    width: 30px;
    height: 30px;
  }

  .logo-linkedin {
    width: 30px;
    height: 30px;
  }
}
