.tt_project {
  width: 1306px;
  height: 1400px;
  margin: 0px auto 0px;
  background-color: #a6a6a6;
  border-radius: 20px;
  display: flex;
  position: absolute;
  right: -78px;
}

/* TITLE HEADER  */

.tt__header {
  width: 1102px;
  height: 303px;
  margin: 0px auto 0px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -47px;
  left: 50px;
}

.tt__text {
  margin-top: 70px;
}

.tt_title {
  width: 563.7px;
  height: 131.1 px;
  color: #fafafa;
  font-weight: 900;
  font-size: 82px;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto 20px;
}

.tt__subtitle {
  width: 409.6px;
  height: 85.9px;
  color: #fafafa;
  font-weight: 900;
  font-size: 54px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: right;
  margin: 0 auto 64px;
}

.tt__logo {
  width: 250x;
  height: 250px;
  border-radius: 20px;
}
