.tt_project {
  width: 1306px;
  height: 1450px;
  margin: 0px auto 0px;
  background-color: #a6a6a6;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: -78px;
}

/* TITLE HEADER  */

.tt__header {
  width: 1102px;
  height: 303px;
  margin: -47px auto 0px;
  margin-left: 50;
  display: flex;
  justify-content: space-between;
}

.tt__text {
  margin-top: 70px;
}

.tt_title {
  width: 563.7px;
  height: 131.1 px;
  color: #fafafa;
  font-weight: 900;
  font-size: 82px;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto 20px;
}

.tt__subtitle {
  width: 409.6px;
  height: 85.9px;
  color: #fafafa;
  font-weight: 900;
  font-size: 54px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: right;
  margin: 0 auto 64px;
}

.tt__logo {
  width: 250x;
  height: 250px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .tt_project {
    width: 728px;
    height: auto;
  }

  .tt__header {
    width: 800px;
    height: auto;
    position: absolute;
    top: -47px;
    left: 10px;
  }
  .tt_title {
    width: 386px;
    height: auto;
    font-size: 50px;
    margin: 0 auto -20px;
  }

  .tt__subtitle {
    width: 300px;
    height: auto;
    font-size: 30px;
    font-weight: 600;
  }

  .tt__logo {
    width: 100x;
    height: 100px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 320px) {
}
